<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
</head>
<body>
    
    <h1><%= title %></h1>
    <p>Found <%= users.length %> users.</p>
    
    <table align="left" cellpadding="2" cellspacing="2">
        <tr>
            <th>Email</th>
            <th>Created</th>
        </tr>
        <% users.forEach( function(user) { %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
        </tr>
        <% }) %>
    </table>
    
</body>
</html>